{% extends 'base.html' %}

{% block content %}
<h3>About page</h3>
<p>From coffe-lovers to all the coffe-enthusiasts. This site provides information on all the best beans and gears on the market.</p>


{% endblock %}