{% extends 'base.html' %}

{% block content %}


<h2>All Products</h2>
<div class="list-group">
    {% for product in products %}
    <div class="list-group-item mb-2">
        <h3>{{ product.name }}</h3>
        <p><strong>Name:</strong> {{ product.name }}</p>
        <p><strong>Price:</strong> {{ product.price }}</p>
        <p>{{ product.image }}</p>
        <p>{{ product.content|truncatewords:20 }}</p>
        <div class="d-flex justify-content-between">
            <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary btn-sm">Details</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
