{% extends 'base.html' %}

{% block content %}
{{product}}
<h2>{{ product.name }}</h2>
<p>{{ product.content }}</p>

<h3>Details</h3>
<ul>
    {% for order in orders %}
   <li>
       <p>{{order.content}}</p>
   </li>
    {% endfor %}
</ul>

<a href="{%url 'home'%}">Back to list</a>



{% endblock %}